In [141]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt

## Question1

In [142]:
sildta = pd.read_csv('data/Reveal_EEO1_for_2016.csv')
sildta = sildta[(sildta.job_category.str.contains('Totals')==False)]
sildta = sildta[(sildta.job_category.str.contains('Previous_totals')==False)]
sildta['count']= sildta['count'].astype('int64')
sildta.head(3)

   company  year    race gender                       job_category  count
0  23andMe  2016  Latino   male  Executive/Senior officials & Mgrs      0
1  23andMe  2016  Latino   male         First/Mid officials & Mgrs      1
2  23andMe  2016  Latino   male                      Professionals      7

In [145]:
male_sildta = sildta[sildta['gender']=='male']
male_sildta['jobs']= male_sildta.job_category.str.contains('Senior')
m_model = ols('count~jobs', data=male_sildta).fit()
m_table = anova_lm(m_model)
male_sildta
print(model.summary())
m_table

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     3.778
Date:                Tue, 19 Dec 2017   Prob (F-statistic):             0.0521
Time:                        18:46:08   Log-Likelihood:                -12763.
No. Observations:                1540   AIC:                         2.553e+04
Df Residuals:                    1538   BIC:                         2.554e+04
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      176.6768     25.852      6.834      0.000     125.967     227.386
jobs[T.True]  -158.8975     81.752     -1.944      0.052    -319.255       1.460
==============================================================================
Omnibus:                     2503.937   Durbin-Watson:                   1.235
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1105920.734
Skew:                          10.503   Prob(JB):                         0.00
Kurtosis:                     132.591   Cond. No.                         3.37
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/vasia/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

              df        sum_sq       mean_sq         F   PR(>F)
jobs         1.0  3.499432e+06  3.499432e+06  3.777776  0.05212
Residual  1538.0  1.424682e+09  9.263209e+05       NaN      NaN

In [144]:
#double check with ttest
male_seniors = male_sildta[male_sildta.job_category.str.contains('Senior')]['count']
male_non_seniors = male_sildta[male_sildta.job_category.str.contains('Senior')==False]['count']
print(sm.stats.ttest_ind(male_nonseniors, male_seniors))

(1.943650086840004, 0.052119854647454264, 1538.0)

In [146]:
white_sildta = sildta[sildta['race']=='White']
white_sildta['jobs']= white_sildta.job_category.str.contains('Senior')
w_model = ols('count~jobs', data=white_sildta).fit()
w_table = anova_lm(w_model)
print(w_model.summary())
w_table

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     3.204
Date:                Tue, 19 Dec 2017   Prob (F-statistic):             0.0742
Time:                        18:46:34   Log-Likelihood:                -3871.0
No. Observations:                 440   AIC:                             7746.
Df Residuals:                     438   BIC:                             7754.
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      516.1414     80.666      6.399      0.000     357.602     674.681
jobs[T.True]  -456.5960    255.087     -1.790      0.074    -957.943      44.751
==============================================================================
Omnibus:                      548.862   Durbin-Watson:                   1.188
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            39146.517
Skew:                           6.125   Prob(JB):                         0.00
Kurtosis:                      47.556   Cond. No.                         3.37
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/vasia/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

             df        sum_sq       mean_sq         F    PR(>F)
jobs        1.0  8.255803e+06  8.255803e+06  3.203956  0.074151
Residual  438.0  1.128618e+09  2.576752e+06       NaN       NaN

In [147]:
#double check with ttest
white_seniors = white_sildta[white_sildta.job_category.str.contains('Senior')]['count']
white_non_seniors = white_sildta[white_sildta.job_category.str.contains('Senior')==False]['count']
print(sm.stats.ttest_ind(white_nonseniors, white_seniors))

(1.789959914380308, 0.074150996111840423, 438.0)