# Question 1

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
summary_filename = 'data/gombe_128.csv'
ratings_filename = 'data/gombe_460.csv'
sumdf = pd.read_csv(summary_filename)
ratingsdf = pd.read_csv(ratings_filename)

In [3]:
impl = sumdf.impl
print('a)The median impulsiveness score is {:.2f}'.format(impl.median()))

a)The median impulsiveness score is 3.33

In [4]:
chimcode_dig =sumdf.chimpcode[sumdf.chimpcode.str.contains(r'\d{3}.*')]
print('b)The number of chimpanzees with 3 digits in their code is {}'.format(len(chimcode_dig)))

b)The number of chimpanzees with 3 digits in their code is 107

In [5]:
avg_diff_decs_conv = abs((sumdf['conv']-sumdf['decs']).mean())
print('c) The average difference between conventional and decisive traits is {:.3f}'.format(avg_diff_decs_conv))

c) The average difference between conventional and decisive traits is 1.259

In [20]:
grouped_by_sex = sumdf.groupby(['sex'])
prominence = grouped_by_sex.mean()
prominent_traits = prominence[prominence.columns[-6:]].copy()
prominent_traits

,dominance,extraversion,conscientiousness,agreeableness,neuroticism,openness
sex,,,,,,
0,3.804156,4.349256,4.691202,4.430595,3.580546,3.640692
1,4.220803,4.890041,4.161139,4.662747,4.258373,4.397894