# Question 1

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
summary_filename = 'data/gombe_128.csv'
ratings_filename = 'data/gombe_460.csv'
sumdf = pd.read_csv(summary_filename)
ratingsdf = pd.read_csv(ratings_filename)

In [3]:
impl = sumdf.impl
print('a)The median impulsiveness score is {:.2f}'.format(impl.median()))

a)The median impulsiveness score is 3.33

In [4]:
chimcode_dig =sumdf.chimpcode[sumdf.chimpcode.str.contains(r'\d{3}.*')]
print('b)The number of chimpanzees with 3 digits in their code is {}'.format(len(chimcode_dig)))

b)The number of chimpanzees with 3 digits in their code is 107

In [5]:
avg_diff_decs_conv = abs((sumdf['conv']-sumdf['decs']).mean())
print('c) The average difference between conventional and decisive traits is {:.3f}'.format(avg_diff_decs_conv))

c) The average difference between conventional and decisive traits is 1.259

In [14]:
grouped_by_sex = sumdf.groupby(['sex']).mean()
prominence = grouped_by_sex[grouped_by_sex.columns[-6:]].copy()
print('d)The most prominent trait for each {0} {1} '.format(prominence.idxmax(axis=1), prominence.max(axis=1)))

d)The most prominent trait for each sex
0    conscientiousness
1         extraversion
dtype: object sex
0    4.691202
1    4.890041
dtype: float64

In [33]:
correlation = sumdf[sumdf.columns[-6:]].corr()
#get the max value of the upper triangular matrix
corr_max = correlation.values[np.triu_indices_from(correlation.values,1)].max()
print('e)The most correlated pair is openness and extraversion with correlation {}'.format(corr_max))
correlation

e)The most correlated pair is with correlation 0.46811472360429457

,dominance,extraversion,conscientiousness,agreeableness,neuroticism,openness
dominance,1.000000,0.136440,-0.418756,0.293900,0.394270,0.414217
extraversion,0.136440,1.000000,-0.143216,0.181809,0.188450,0.468115
conscientiousness,-0.418756,-0.143216,1.000000,-0.023491,-0.416410,-0.494661
agreeableness,0.293900,0.181809,-0.023491,1.000000,-0.015866,0.418662
neuroticism,0.394270,0.188450,-0.416410,-0.015866,1.000000,0.404803
openness,0.414217,0.468115,-0.494661,0.418662,0.404803,1.000000

In [59]:
tmp= sumdf.loc[: ,'dom':'innov'].set_index(sumdf['chimpcode'])
sympdf= tmp.loc[tmp['symp']==tmp.max(axis=1)]
print('f:')
sympdf

f:

,dom,sol,impl,symp,stbl,invt,depd,soc,thotl,help,...,reckl,sens,unem,cur,vuln,actv,pred,conv,cool,innov
chimpcode,,,,,,,,,,,,,,,,,,,,,
E131,2.428571,3.857143,3.000000,5.571429,4.285714,4.142857,4.285714,4.571429,1.857143,5.000000,...,2.000000,4.571429,2.714286,3.142857,3.000000,5.000000,3.428571,4.285714,5.285714,4.000000
Q450,1.888889,4.666667,3.555556,5.777778,4.111111,4.222222,3.666667,4.666667,2.666667,4.888889,...,2.444444,4.777778,3.777778,3.777778,4.555556,5.111111,3.555556,3.888889,4.333333,3.222222
Z329,1.333333,3.333333,1.840232,6.666667,4.333333,4.000000,5.000000,3.666667,1.333333,5.333333,...,1.666667,2.333333,4.666667,1.666667,3.333333,3.333333,3.000000,2.000000,6.333333,3.333333
D191,4.750000,3.250000,4.250000,6.750000,6.500000,6.250000,6.000000,5.250000,3.750000,6.750000,...,3.250000,5.750000,4.250000,4.250000,3.000000,4.250000,5.000000,3.500000,5.500000,6.000000
W10,2.000000,2.000000,1.666667,5.000000,2.333333,2.333333,4.000000,4.333333,4.333333,3.666667,...,2.000000,2.333333,2.333333,2.666667,1.666667,2.000000,3.333333,2.000000,3.666667,3.666667
A412,2.666667,3.666667,1.666667,5.333333,3.333333,3.666667,3.000000,4.000000,2.000000,3.333333,...,1.333333,4.666667,5.333333,2.000000,3.666667,3.000000,5.000000,3.333333,5.000000,3.000000
P325,2.666667,3.000000,3.000000,6.000000,3.000000,4.000000,3.333333,3.333333,3.666667,4.333333,...,5.333333,3.666667,4.000000,3.666667,2.333333,3.666667,3.666667,2.333333,3.333333,5.333333
C154,2.333333,2.333333,2.666667,6.000000,3.333333,1.666667,5.666667,6.000000,4.000000,6.000000,...,3.666667,2.000000,3.666667,3.333333,4.000000,4.000000,4.333333,3.666667,4.333333,4.333333
R81,1.333333,4.333333,3.333333,5.000000,3.666667,3.000000,3.666667,4.666667,3.000000,4.666667,...,2.666667,4.000000,4.000000,4.333333,2.666667,4.196078,4.333333,4.000000,3.666667,3.000000
X489,2.333333,4.666667,2.666667,5.000000,3.666667,2.333333,3.666667,3.666667,2.666667,4.333333,...,2.666667,4.000000,4.666667,3.000000,3.333333,4.333333,4.000000,4.000000,4.000000,4.000000
R312,2.333333,4.333333,2.000000,6.000000,4.000000,3.666667,3.666667,4.333333,2.000000,6.000000,...,3.333333,4.666667,4.000000,3.000000,3.333333,4.000000,3.333333,3.000000,4.000000,5.000000
Q461,1.333333,3.333333,2.666667,5.666667,5.000000,2.666667,4.666667,4.666667,3.000000,3.000000,...,1.333333,4.666667,5.000000,3.000000,4.333333,5.666667,5.000000,3.000000,5.333333,4.666667
N108,2.333333,4.500000,3.000000,5.333333,3.333333,3.666667,4.833333,3.833333,3.000000,4.333333,...,3.000000,3.666667,4.333333,2.500000,4.500000,2.333333,3.166667,3.500000,4.166667,2.000000

In [101]:
score = tmp.values
score = score.reshape(3072,)
idx = np.array(list(tmp.index), len(score))
traits = np.tile(list(tmp.columns), len(score))

#newpd = pd.DataFrame({'index': idx, 'traits': traits, 'score': score})

3072