In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt

/home/vasia/anaconda2/envs/p3env/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Question1

In [27]:
sildta = pd.read_csv('data/Reveal_EEO1_for_2016.csv')
sildta = sildta[(sildta.job_category.str.contains('Totals')==False)]
sildta = sildta[(sildta.job_category.str.contains('Previous_totals')==False)]
male_sildta = sildta[sildta['gender']=='male']
male_sildta

,company,year,race,gender,job_category,count
0,23andMe,2016,Latino,male,Executive/Senior officials & Mgrs,0
1,23andMe,2016,Latino,male,First/Mid officials & Mgrs,1
2,23andMe,2016,Latino,male,Professionals,7
3,23andMe,2016,Latino,male,Technicians,0
4,23andMe,2016,Latino,male,Sales workers,0
5,23andMe,2016,Latino,male,Administrative support,0
6,23andMe,2016,Latino,male,Craft workers,0
7,23andMe,2016,Latino,male,operatives,0
8,23andMe,2016,Latino,male,laborers and helpers,0
9,23andMe,2016,Latino,male,Service workers,0
24,23andMe,2016,White,male,Executive/Senior officials & Mgrs,9
25,23andMe,2016,White,male,First/Mid officials & Mgrs,30
26,23andMe,2016,White,male,Professionals,61
27,23andMe,2016,White,male,Technicians,0
28,23andMe,2016,White,male,Sales workers,0
29,23andMe,2016,White,male,Administrative support,2
30,23andMe,2016,White,male,Craft workers,0
31,23andMe,2016,White,male,operatives,0
32,23andMe,2016,White,male,laborers and helpers,0
33,23andMe,2016,White,male,Service workers,0
36,23andMe,2016,Black_or_African_American,male,Executive/Senior officials & Mgrs,0
37,23andMe,2016,Black_or_African_American,male,First/Mid officials & Mgrs,0
38,23andMe,2016,Black_or_African_American,male,Professionals,2
39,23andMe,2016,Black_or_African_American,male,Technicians,0
40,23andMe,2016,Black_or_African_American,male,Sales workers,0
41,23andMe,2016,Black_or_African_American,male,Administrative support,0
42,23andMe,2016,Black_or_African_American,male,Craft workers,0
43,23andMe,2016,Black_or_African_American,male,operatives,0
44,23andMe,2016,Black_or_African_American,male,laborers and helpers,0
45,23andMe,2016,Black_or_African_American,male,Service workers,0
...,...,...,...,...,...,...
3840,View,2016,Asian,male,Executive/Senior officials & Mgrs,10
3841,View,2016,Asian,male,First/Mid officials & Mgrs,3
3842,View,2016,Asian,male,Professionals,29
3843,View,2016,Asian,male,Technicians,10
3844,View,2016,Asian,male,Sales workers,7
3845,View,2016,Asian,male,Administrative support,0
3846,View,2016,Asian,male,Craft workers,0
3847,View,2016,Asian,male,operatives,6
3848,View,2016,Asian,male,laborers and helpers,0
3849,View,2016,Asian,male,Service workers,0
3852,View,2016,American_Indian_Alaskan_Native,male,Executive/Senior officials & Mgrs,1
3853,View,2016,American_Indian_Alaskan_Native,male,First/Mid officials & Mgrs,0
3854,View,2016,American_Indian_Alaskan_Native,male,Professionals,0
3855,View,2016,American_Indian_Alaskan_Native,male,Technicians,0
3856,View,2016,American_Indian_Alaskan_Native,male,Sales workers,0
3857,View,2016,American_Indian_Alaskan_Native,male,Administrative support,0
3858,View,2016,American_Indian_Alaskan_Native,male,Craft workers,0
3859,View,2016,American_Indian_Alaskan_Native,male,operatives,1
3860,View,2016,American_Indian_Alaskan_Native,male,laborers and helpers,0
3861,View,2016,American_Indian_Alaskan_Native,male,Service workers,0
3864,View,2016,Two_or_more_races,male,Executive/Senior officials & Mgrs,1
3865,View,2016,Two_or_more_races,male,First/Mid officials & Mgrs,1
3866,View,2016,Two_or_more_races,male,Professionals,4
3867,View,2016,Two_or_more_races,male,Technicians,0
3868,View,2016,Two_or_more_races,male,Sales workers,1
3869,View,2016,Two_or_more_races,male,Administrative support,0
3870,View,2016,Two_or_more_races,male,Craft workers,0
3871,View,2016,Two_or_more_races,male,operatives,3
3872,View,2016,Two_or_more_races,male,laborers and helpers,0
3873,View,2016,Two_or_more_races,male,Service workers,0